<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
        <log4net>

            <appender name="LogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="PublishingLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Publishing.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="ClientLogAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Client.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="SearchLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Search.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="CrawlingLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Crawling.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="OwinLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Owin.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="AggregationLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Aggregation.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="ContactMergeLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'contactMergeDataUpgrade.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="AzureFallbackAppender">
                <file value="$(dataFolder)/logs/{machineName}/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'azure.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="FxmLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Fxm.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="EdsLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Eds.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>

            <appender name="ExmLogFileAppender">
                <file value="$(dataFolder)/logs/" patch:instead="file" />
                <rollingStyle value="Date" patch:instead="rollingStyle" />
                <preserveLogFileNameExtension value="true" patch:instead="preserveLogFileNameExtension" />
                <datePattern value="'Exm.log.'yyyyMMdd'.txt'" patch:instead="datePattern" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maxSizeRollBackups value="-1" patch:instead="maxSizeRollBackups" />
                <staticLogFileName value="false" patch:instead="staticLogFileName" />
                <maximumFileSize value="50MB" patch:instead="maximumFileSize" />
            </appender>


            <root>
                <priority>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </priority>
            </root>
            <logger name="Sitecore.Diagnostics.Publishing" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="ClientRoot" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Diagnostics.Search" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Diagnostics.Crawling" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Owin.Diagnostics" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.Analytics.Aggregation" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.FXM.Diagnostics" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.EDS" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>
            <logger name="Sitecore.EXM" additivity="false">
                <level>
                    <patch:attribute name="value">ERROR</patch:attribute>
                </level>
            </logger>


        </log4net>
    </sitecore>
</configuration>