<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
    <sitecore role:require="Standalone or ContentManagement" search:require="Azure">
        <contentSearch>
            <indexConfigurations>
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">

                    <fieldMap type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
                        <fieldNames hint="raw:AddFieldByFieldName">
                            <field fieldName="primaryneedtags" cloudFieldName="primaryneedtags"  searchable="YES" retrievable="YES"  facetable="YES"  filterable="YES"  sortable="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure"/>
                            <field fieldName="featuredtags" cloudFieldName="featuredtags"  searchable="YES" retrievable="YES"  facetable="YES"  filterable="YES"  sortable="NO" boost="1f" type="System.String[]" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure"/>

                            <field fieldName="commonindexfield"   cloudFieldName="commonindexfield_s" searchable="YES"  retrievable="YES"   facetable="NO"  filterable="YES"  sortable="NO"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language" />
                            <field fieldName="documentnamefield"   cloudFieldName="documentnamefield_s" searchable="YES"  retrievable="YES"   facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language" />
                            <field fieldName="metadatatitlefield"   cloudFieldName="metadatatitlefield_s" searchable="YES"  retrievable="YES"   facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language" />
                            <field fieldName="metadatadescriptionfield"   cloudFieldName="metadatadescriptionfield_s" searchable="YES"  retrievable="YES"   facetable="YES"  filterable="YES"  sortable="YES"  boost="1f" type="System.String"   settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language" />
                        </fieldNames>
                    </fieldMap>

                    <documentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch">
                        <indexAllFields>false</indexAllFields>

                        <include hint="list:AddIncludedField">
                            <Author>{A769F55D-9709-4908-BD48-5DA0DDFF6491}</Author>
                            <Date>{35BED6EB-42ED-4800-A384-D5CB03D55C9E}</Date>
                            <Is_Featured_Article>{6AB96E61-4999-41CD-B999-1C860C573E98}</Is_Featured_Article>
                            <Is_Featured_Product>{B4393F91-607A-4D89-95A0-789367DB8822}</Is_Featured_Product>
                            <Is_Page_Searchable>{FF451472-1B55-4228-B14D-AB9B2A449792}</Is_Page_Searchable>
                            <Score_Value>{D04D0A5A-DAAF-4457-8F38-DEA817DD2BC4}</Score_Value>
                            <Associated_Products>{0542FE2E-3942-4D2A-9D28-FCA5312B2AB4}</Associated_Products>

                            <Hospital_Name>{BC88B2B5-F787-423F-966D-26720D738083}</Hospital_Name>
                            <Province>{A88837DD-01D0-456A-B678-EF12FFFA2496}</Province>
                            <Longitude>{E7BD7BBC-38C3-42C8-BBEB-A84E612D75A5}</Longitude>
                            <Latitude>{7E4EF5F8-C53E-40AF-B1B0-AA8E85495DC0}</Latitude>
                            <Street_Number>{D0A7AD35-AD85-43AE-AAF6-1DBF443C91FB}</Street_Number>
                            <Road>{A8DF4643-7000-41CA-8038-46AFE2CB5494}</Road>
                            <District>{20969991-14D8-413F-A0B3-606DDE852FB4}</District>
                            <County>{FB6D3F20-15F7-448B-BA1B-BA2304D55DC6}</County>
                            <Postal_Code>{DC85978E-5C4C-404E-A4B0-1D0B35C01FE2}</Postal_Code>
                            <Area>{F493EE0F-A54A-4384-9F8E-F8CA6482B7AA}</Area>
                            <Code>{D3B0E30B-D1E6-45B9-AE31-BA0E14B75B99}</Code>
                            <Office_Type>{896A3E55-9550-4E0C-A21D-EFB9B0C61431}</Office_Type>
                            <Hospital_Type>{3F3AB2EF-AD32-42FD-B5ED-754C7F61C8BD}</Hospital_Type>
                            <Facility_Filter_Tags>{D637D618-F6A0-48AE-BBB6-EF0544201C1B}</Facility_Filter_Tags>
                            <Open_Hours>{E8EAE067-BF99-4E68-863B-07BEF46127EF}</Open_Hours>
                            <Facility_Type>{C20CCE7B-5349-432E-A656-77394CE985E2}</Facility_Type>
                            <State_Boi_Foundation>{E267456E-79E2-4479-938A-281EEFDCA46A}</State_Boi_Foundation>
                            <Hospital_Fax>{1012CC35-3918-4CA9-8029-9002BC4071C7}</Hospital_Fax>
                            <Hospital_Mobile>{0580280C-57D4-4966-A08A-0F7E874814A4}</Hospital_Mobile>
                            <Hospital_Telephone>{CC819FC2-63B9-4F6B-8538-24759FBD25D9}</Hospital_Telephone>
                            <FeaturedTags>{BDC75D02-2884-4DBB-A5A1-F54B2D539328}</FeaturedTags>
                            <PrimaryNeedTags>{1294D890-C666-4BA0-B34A-68AAACFB432C}</PrimaryNeedTags>
                            <RewardLabel>{02B87B9A-BB93-4772-82AE-DDD40F19283C}</RewardLabel>
                            <MetadataKeyword>{F73058C2-3F5C-485C-9E31-E71C53F184AC}</MetadataKeyword>
                            <GaLabelName>{9916ACB2-F8E6-4480-B9A1-15AC7B642ABE}</GaLabelName>
                            <ECommerce>{ED959D21-B722-489C-805D-6A959488FE34}</ECommerce>
                            <FundCode>{631B8232-3BDD-4874-BA28-8833480BDBB3}</FundCode>
                            <FundDescription>{B3527395-0B31-4467-8572-B546A1CB5036}</FundDescription>
                        </include>

                        <fields hint="raw:AddComputedIndexField">
                            <field fieldName="IsPageSearchableWithoutDisAccField">FWD.Foundation.Indexing.ComputedFields.IsPageSearchableWithoutDisAcc, FWD.Foundation.Indexing</field>
                            <field fieldName="NonRiskDisclosureField">FWD.Foundation.Indexing.ComputedFields.NonRiskDisclosure, FWD.Foundation.Indexing</field>
                            <field fieldName="RiskDisclosureField">FWD.Foundation.Indexing.ComputedFields.RiskDisclosure, FWD.Foundation.Indexing</field>                           
                            <field fieldName="PageFormatField">FWD.Foundation.Indexing.ComputedFields.PageFormat, FWD.Foundation.Indexing</field>
                            <field fieldName="AnnouncementtypeField">FWD.Foundation.Indexing.ComputedFields.AnnouncementType, FWD.Foundation.Indexing</field>
                            <field fieldName="CommonIndexField">FWD.Foundation.Indexing.ComputedFields.CommonIndex, FWD.Foundation.Indexing</field>
                            <field fieldName="ItemUrlField">FWD.Foundation.Indexing.ComputedFields.ItemUrl, FWD.Foundation.Indexing</field>
                            <field fieldName="ImageField">FWD.Foundation.Indexing.ComputedFields.ImageUrl, FWD.Foundation.Indexing</field>
                            <field fieldName="MobileImageField">FWD.Foundation.Indexing.ComputedFields.MobileImageUrl, FWD.Foundation.Indexing</field>
                            <field fieldName="AssociatedProductsField">FWD.Foundation.Indexing.ComputedFields.AssociatedProducts, FWD.Foundation.Indexing</field>
                            <field fieldName="CityField">FWD.Foundation.Indexing.ComputedFields.City, FWD.Foundation.Indexing</field>
                            <field fieldName="ContentTypeField">FWD.Foundation.Indexing.ComputedFields.ContentType, FWD.Foundation.Indexing</field>
                            <field fieldName="FeaturedTagsField">FWD.Foundation.Indexing.ComputedFields.FeaturedTags, FWD.Foundation.Indexing</field>
                            <field fieldName="MainContentSubTypeField">FWD.Foundation.Indexing.ComputedFields.MainContentSubType, FWD.Foundation.Indexing</field>
                            <field fieldName="UserTypeField">FWD.Foundation.Indexing.ComputedFields.UserType, FWD.Foundation.Indexing</field>
                            <field fieldName="PromotionalLabelField">FWD.Foundation.Indexing.ComputedFields.PromotionalLabel, FWD.Foundation.Indexing</field>
                            <field fieldName="PlanComponentField">FWD.Foundation.Indexing.ComputedFields.PlanComponent, FWD.Foundation.Indexing</field>
                            <field fieldName="SecondaryNeedTagsField">FWD.Foundation.Indexing.ComputedFields.SecondaryNeedTags, FWD.Foundation.Indexing</field>
                            <field fieldName="PrimaryNeedTagsField">FWD.Foundation.Indexing.ComputedFields.PrimaryNeedTags, FWD.Foundation.Indexing</field>
                            <field fieldName="PurchaseMethodField">FWD.Foundation.Indexing.ComputedFields.PurchaseMethod, FWD.Foundation.Indexing</field>
                            <field fieldName="ProductInfoField">FWD.Foundation.Indexing.ComputedFields.ProductTagInfo, FWD.Foundation.Indexing</field>
                            <field fieldName="ArticleInfoField">FWD.Foundation.Indexing.ComputedFields.ArticleTagInfo, FWD.Foundation.Indexing</field>
                            <field fieldName="TopicsField">FWD.Foundation.Indexing.ComputedFields.Topics, FWD.Foundation.Indexing</field>
                            <field fieldName="SubTopicsField">FWD.Foundation.Indexing.ComputedFields.SubTopics, FWD.Foundation.Indexing</field>
                            <field fieldName="ItemIdField">FWD.Foundation.Indexing.ComputedFields.ItemId, FWD.Foundation.Indexing</field>
                            <field fieldName="PublishedYearField">FWD.Foundation.Indexing.ComputedFields.PublishedYear, FWD.Foundation.Indexing</field>
                            <field fieldName="PublishedDateField">FWD.Foundation.Indexing.ComputedFields.PublishedDate, FWD.Foundation.Indexing</field>
                            <field fieldName="BaseTemplatesField">FWD.Foundation.Indexing.ComputedFields.BaseTemplates, FWD.Foundation.Indexing</field>
                            <field fieldName="TitleField">FWD.Foundation.Indexing.ComputedFields.Title, FWD.Foundation.Indexing</field>
                            <field fieldName="DescriptionField">FWD.Foundation.Indexing.ComputedFields.Description, FWD.Foundation.Indexing</field>
                            <field fieldName="MetadataTitleField">FWD.Foundation.Indexing.ComputedFields.MetadataTitle, FWD.Foundation.Indexing</field>
                            <field fieldName="MetadataDescriptionField">FWD.Foundation.Indexing.ComputedFields.MetadataDescription, FWD.Foundation.Indexing</field>
                            <field fieldName="LinkField">FWD.Foundation.Indexing.ComputedFields.Link, FWD.Foundation.Indexing</field>
                            <field fieldName="DocumentNameField">FWD.Foundation.Indexing.ComputedFields.DocumentName, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationFacilitiesField">FWD.Foundation.Indexing.ComputedFields.CombinedLocationFacilities, FWD.Foundation.Indexing</field>
                            <field fieldName="GroupLocationFacilitiesField">FWD.Foundation.Indexing.ComputedFields.GroupLocationFacilities, FWD.Foundation.Indexing</field>
                            <field fieldName="IndividualLocationFacilitiesField">FWD.Foundation.Indexing.ComputedFields.IndividualLocationFacilities, FWD.Foundation.Indexing</field>
                            <field fieldName="CommonLocationFacilitiesField">FWD.Foundation.Indexing.ComputedFields.CommonLocationFacilities, FWD.Foundation.Indexing</field>
                            <field fieldName="FacilityTypeField">FWD.Foundation.Indexing.ComputedFields.FacilityType, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationProvinceField">FWD.Foundation.Indexing.ComputedFields.LocationProvince, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationDistrictField">FWD.Foundation.Indexing.ComputedFields.LocationDistrict, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationCountyField">FWD.Foundation.Indexing.ComputedFields.LocationCounty, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationAreaField">FWD.Foundation.Indexing.ComputedFields.LocationArea, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationHospitalField">FWD.Foundation.Indexing.ComputedFields.LocationHospitalType, FWD.Foundation.Indexing</field>
                            <field fieldName="LocationOfficeField">FWD.Foundation.Indexing.ComputedFields.LocationOfficeType, FWD.Foundation.Indexing</field>
                            <field fieldName="IsBrochureField">FWD.Foundation.Indexing.ComputedFields.IsBrochure, FWD.Foundation.Indexing</field>
                            <field fieldName="IsFormField">FWD.Foundation.Indexing.ComputedFields.IsForm, FWD.Foundation.Indexing</field>
                            <field fieldName="PromotionalProductField">FWD.Foundation.Indexing.ComputedFields.PromotionalProduct, FWD.Foundation.Indexing</field>
                            <field fieldName="CtaLink">FWD.Foundation.Indexing.ComputedFields.CtaLink, FWD.Foundation.Indexing</field>
                            <field fieldName="ExpectedInsuranceTypeField">FWD.Foundation.Indexing.ComputedFields.ExpectedInsuranceType, FWD.Foundation.Indexing</field>
                            <field fieldName="SaveLeadParametersField">FWD.Foundation.Indexing.ComputedFields.SaveLeadParameters, FWD.Foundation.Indexing</field>
                            <field fieldName="FundCurrencyField">FWD.Foundation.Indexing.ComputedFields.FundCurrency, FWD.Foundation.Indexing</field>
                            <field fieldName="FundTextColumnField">FWD.Foundation.Indexing.ComputedFields.FundTextColumn, FWD.Foundation.Indexing</field>
                            <field fieldName="FundDocumentsField">FWD.Foundation.Indexing.ComputedFields.FundDocuments, FWD.Foundation.Indexing</field>
                        </fields>
                    </documentOptions>
                </defaultCloudIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>