<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >   
    <sitecore role:require="Standalone or ContentManagement" search:require="Azure">
        <contentSearch>
            <indexConfigurations>               
                <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
                    <cloudCultureBasedAnalyzerConfiguration type="Sitecore.ContentSearch.Azure.Analyzers.CloudCultureBasedAnalyzerConfiguration, Sitecore.ContentSearch.Azure">
                        <analyzers hint="raw:AddAnalyzer">
                            <cloudAnalyzer cultureCode="zh" analyzer="zh-Hant.lucene" />
                        </analyzers>
                    </cloudCultureBasedAnalyzerConfiguration>
                </defaultCloudIndexConfiguration>
            </indexConfigurations>
        </contentSearch>
    </sitecore>
</configuration>