<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:market="http://www.sitecore.net/xmlconfig/market/">
  <sitecore market:require="TH">
    <javaScriptServices>
      <renderEngines>
        <renderEngine name="nodejs">
          <instance id="fwd-th" inherits="defaults">
            <!-- Specifies the maximum duration, in milliseconds, that your .NET code should wait for Node.js RPC calls to return. -->
            <InvocationTimeoutMs>60000</InvocationTimeoutMs>
          </instance>
        </renderEngine>
      </renderEngines>
    </javaScriptServices>
  </sitecore>
</configuration>