<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="javaScriptServices">
                <pipelines>
                    <getRenderingEngineViewBag>
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.AddRequestIdSsr, FWD.Foundation.SitecoreExtensions" />
                        <processor type="FWD.Foundation.SitecoreExtensions.GetRenderingEngineViewBag.AddLayoutServiceUrl, FWD.Foundation.SitecoreExtensions" />
                    </getRenderingEngineViewBag>
                </pipelines>
            </group>
            <!--<mvc.getRenderer>
                <processor type="Sitecore.JavaScriptServices.ViewEngine.Presentation.Pipelines.MvcGetRenderer.GetJsLayoutRenderer, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
                    <patch:attribute name="type">FWD.Foundation.SitecoreExtensions.Pipelines.GetJsLayoutRendererExtensionDebug, FWD.Foundation.SitecoreExtensions</patch:attribute>
                </processor>
            </mvc.getRenderer>-->
            <mvc.getRenderer>
                <processor type="Sitecore.JavaScriptServices.ViewEngine.Presentation.Pipelines.MvcGetRenderer.GetJsLayoutRenderer, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
                    <patch:attribute name="type">FWD.Foundation.SitecoreExtensions.Pipelines.GetJsLayoutRendererExtension, FWD.Foundation.SitecoreExtensions</patch:attribute>
                </processor>
                <processor type="Sitecore.JavaScriptServices.ViewEngine.Pipelines.Response.GetRenderer.GetJsonRenderer, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
                    <patch:attribute name="type">FWD.Foundation.SitecoreExtensions.Pipelines.CustomGetJsonRenderer, FWD.Foundation.SitecoreExtensions</patch:attribute>
                </processor>
            </mvc.getRenderer>
            <httpRequestBegin>
                <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.CustomHttpBeginRequestSsr, FWD.Foundation.SitecoreExtensions"
                          patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" >
                </processor>
            </httpRequestBegin>
                <httpRequestEnd>
                <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.CustomHttpEndRequestSsr, FWD.Foundation.SitecoreExtensions"
                          patch:before="processor[@type='Sitecore.Analytics.Pipelines.HttpRequest.EndAnalytics, Sitecore.Analytics']" >
                </processor>
            </httpRequestEnd>
        </pipelines>
    </sitecore>
</configuration>