<?xml version="1.0" encoding="utf-8"?>

<!--
Developer: Ghanendra Singh
Purpose: This include file configures the tracking subsystem of the Sitecore Experience Database (xDB).
The tracking subsystem is responsible for tracking of online visitors. The system tracks personalization, goals,
campaigns, profile values, patterns, multivariate tests, etc.

If you want to disable this functionality and prevent online tracking of visitors, you can rename this config file
so that it has a ".disabled" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentDelivery">        
        <tracking>
            <sharedSessionState defaultProvider="redis">
                <providers>
                    <clear />
                    <add name="redis"
                        type="Sitecore.SessionProvider.Redis.RedisSessionStateProvider,
                        Sitecore.SessionProvider.Redis"
                        connectionString="redis.sessions"
                        pollingInterval="60"
                        applicationName="shared" operationTimeoutInMilliseconds="10000" connectionTimeoutInmilliseconds= "10000" retryTimeoutInMilliseconds="16000"/>
                </providers>               
            </sharedSessionState>           
        </tracking>        
    </sitecore>
</configuration>
