<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:unicornsync="http://www.sitecore.net/xmlconfig/unicornsync/" xmlns:market="http://www.sitecore.net/xmlconfig/market/">
    <sitecore unicornsync:require="DisableContent" market:require="TH">
        <unicorn>
            <configurations>
                <configuration name="Project.TH.Content" dependencies="Project.TH.Configurations" description="TH content" patch:after="configuration[@name='Project.TH.Configurations']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\TH\serialization\Content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="TH" database="master" path="/sitecore/content/fwd/fwd-th" />
                    </predicate>
                </configuration>

                <configuration name="Project.TH.Media" dependencies="Project.TH.Configurations" description="TH Media" patch:after="configuration[@name='Project.TH.Configurations']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\Project\TH\serialization\Media" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Media" database="master" path="/sitecore/media library/FWD/TH"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>