<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.CustomFieldsBase" description="Foundation SitecoreExtensions CustomFieldsBase" dependencies="Foundation.Serialization.*" patch:after="configuration[@name='Foundation.Serialization.HelixStructure']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\sitecoreextensions\serialization\CustomFieldsBase" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="GeneralLink" database="core" path="/sitecore/system/Field types/Link Types/GeneralLink">
                            <exclude children="true" />
                        </include>
                        <include name="Multilist" database="core" path="/sitecore/system/Field types/List Types/Multilist">
                            <exclude children="true" />
                        </include>
                        <include name="Modal Excerpts" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Medium/Snippets/Modal-Excerpts" />
                    </predicate>
                </configuration>

                <configuration name="Foundation.CustomFields" description="Foundation SitecoreExtensions CustomFields" dependencies="Foundation.Serialization.*" patch:after="configuration[@name='Foundation.CustomFieldsBase']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\sitecoreextensions\serialization\CustomFields" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="SecContent.Link" database="master" path="/sitecore/templates/System/Email/Sample Newsletter/Section Content/Data/Link"/>
                        <include name="Link.Link" database="master" path="/sitecore/templates/System/Email/Sample Newsletter/Link/Data/Link"/>
                        <include name="Help" database="master" path="/sitecore/templates/System/Templates/Sections/Help/Help"/>
                        <include name="RSS.Link" database="master" path="/sitecore/templates/System/Feeds/RSS Feed/Data/Link"/>
                        <include name="Referrer" database="master" path="/sitecore/templates/System/Experience Explorer/Preset/Referral Information/Referrer"/>
                        <include name="Alias" database="master" path="/sitecore/templates/System/Alias/Data"/>
                        <include name="Xsl.CustomizePage" database="master" path="/sitecore/templates/System/Layout/Renderings/Xsl Rendering/Editor Options/CustomizePage"/>
                        <include name="WC.CustomizePage" database="master" path="/sitecore/templates/System/Layout/Renderings/Webcontrol/Editor Options/CustomizePage"/>
                        <include name="Url.CustomizePage" database="master" path="/sitecore/templates/System/Layout/Renderings/Url Rendering/Editor Options/CustomizePage"/>
                        <include name="SubLayout.CustomizePage" database="master" path="/sitecore/templates/System/Layout/Renderings/Sublayout/Editor Options/CustomizePage"/>
                        <include name="Method.CustomizePage" database="master" path="/sitecore/templates/System/Layout/Renderings/Method Rendering/Editor Options/CustomizePage"/>

                        <include name="ModelPopup" database="core" path="/sitecore/system/Field types/Link Types/GeneralLink/Menu/ModelPopup" />
                        <include name="ModelPopupLinkApplication" database="core" path="/sitecore/content/Applications/Dialogs/ModelPopupLink" />
                        <include name="ModelPopupLinkLayout" database="core" path="/sitecore/layout/Layouts/Dialogs/ModelPopupLink" />
                        <include name="Form" database="core" path="/sitecore/system/Field types/Link Types/GeneralLink/Menu/Form" />
                        <include name="FormLinkApplication" database="core" path="/sitecore/content/Applications/Dialogs/FormLink" />
                        <include name="FormLinkLayout" database="core" path="/sitecore/layout/Layouts/Dialogs/FormLink" />

                        <include name="AdvancedFieldTypes" database="core" path="/sitecore/system/Field types/AdvancedFieldTypes" />
                        <include name="AdvanceImageTemplates" database="master" path="/sitecore/templates/AdvanceImageModule" />
                        <include name="AdvanceImageModule" database="master" path="/sitecore/system/Modules/AdvanceImageModule" />

                        <include name="NameLookupValueListEx" database="core" path="/sitecore/system/Field types/List Types/NameLookupValueListEx" />
                        <include name="QueryableTreelistEx" database="core" path="/sitecore/system/Field types/List Types/QueryableTreelistEx" />
                        <include name="CustomTreelist" database="core" path="/sitecore/system/Field types/List Types/CustomTreelist" />
                        <include name="CustomDropLink" database="core" path="/sitecore/system/Field types/List Types/CustomGroupedDroplink" />
                        <include name="CustomDropLink2" database="core" path="/sitecore/system/Field types/List Types/CustomGroupedDroplink2" />
                        <include name="CustomDroplink" database="core" path="/sitecore/system/Field types/Link Types/CustomDroplink" />
                        <include name="CustomDropTree" database="core" path="/sitecore/system/Field types/Link Types/Droptree" />
                        <include name="DropLink" database="core" path="/sitecore/system/Field types/Link Types/Droplink" />
                        <include name="CustomSimpleTypes" database="core" path="/sitecore/system/Field types/CustomSimpleTypes" />

                        <include name="DropLinkFolder" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/HeroBannerCarousel" />
                        
                        <include name="Custom Field Editor" database="core" path="/sitecore/content/Applications/CustomFieldEditor" />
                        <include name="Custom Layout Field Editor" database="core" path="/sitecore/layout/Layouts/Applications/CustomFieldEditor" />
                        <include name="UnLockItem" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Workflow/UnLock" />
                        <include name="Smart Tool" database="core" path="/sitecore/content/Applications/Content Editor/Context Menues/Default/Copying/AddVersionAndCopy" />
                        <include name="Snippets" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full/Snippets" />

                        <include name="Image" database="master" path="/sitecore/templates/System/Media/Unversioned/Image" />
                        <include name="Dictionary" database="master" path="/sitecore/templates/System/Dictionary/Dictionary entry" />
                        <include name="CustomLanguageCode" database="master" path="/sitecore/templates/System/Language/Data/customLanguageCode" />
                    </predicate>
                </configuration>
                
                <configuration name="Foundation.SitecoreExtensions.Tags" description="Foundation SitecoreExtensions Tags" dependencies="Foundation.Serialization.*" patch:after="configuration[@name='Foundation.Common.Configurations']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\sitecoreextensions\serialization\Tags" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Facets PrimaryNeedTags" database="master" path="/sitecore/system/Settings/Buckets/Search Types/PrimaryNeedTags" />
                        <include name="Search Types PrimaryNeedTags" database="master" path="/sitecore/system/Settings/Buckets/Facets/PrimaryNeedTags" />
                        <include name="Facets FeaturedTags" database="master" path="/sitecore/system/Settings/Buckets/Facets/FeaturedTags" />
                        <include name="Search Types FeaturedTags" database="master" path="/sitecore/system/Settings/Buckets/Search Types/FeaturedTags" />
                        <include name="SitecoreCustomTags" database="master" path="/sitecore/system/Settings/Buckets/Tag Repositories/SitecoreCustomTags" />
                    </predicate>
                </configuration>

                <configuration name="Foundation.SitecoreExtensions.RedirectModule" description="Foundation SitecoreExtensions Redirect Module"
                           dependencies="Foundation.Serialization.*" patch:after="configuration[@name='Foundation.Template.BranchTemplate']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\sitecoreextensions\serialization\RedirectModule" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Redirect Module Settings Definitions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Redirect Manager" />
                        <include name="Redirect Module Rules" database="master" path="/sitecore/system/Settings/Rules/Redirect Manager" />
                        <include name="Redirect Module Template" database="master" path="/sitecore/templates/Redirect Module" />
                        <include name="Redirect Module" database="master" path="/sitecore/system/Modules/Redirect Module">
                            <exclude childrenOfPath="Redirects/*" />
                        </include>
                    </predicate>
                </configuration>

                <configuration name="Foundation.Item.SideKick" description="Foundation.Item.SideKick" dependencies="Foundation.Serialization.*" patch:after="configuration[@name='Foundation.Common.Configurations']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\RenderingContentResolver\serialization\SideKick" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="SideKickDektopLaunchPadItem" database="core" path="/sitecore/client/Applications/Launchpad/PageSettings/Buttons/ContentEditing/Sidekick" />
                        <include name="SideKickLayout" database="core" path="/sitecore/layout/Layouts/Applications/Sidekick" />
                        <include name="SideKickApplication" database="core" path="/sitecore/content/Applications/Sidekick" />
                        <include name="SideKickDesktopMenu" database="core" path="/sitecore/content/Documents and settings/All users/Start menu/Right/Sitecore Sidekick" />
                    </predicate>
                </configuration>

                <configuration name="Foundation.Item.ScheduleItemPublishing" description="Foundation.Item.ScheduleItemPublishing" dependencies="Foundation.Serialization.*" patch:after="configuration[@name='Foundation.Serialization.HelixStructure']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\SitecoreExtensions\serialization\ScheduleItemPublishing" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="SchedulePublishing" database="master" path="/sitecore/system/Tasks/Schedule Publishing">
                            <exclude children="true" />
                        </include>
                        <include name="Commands" database="master" path="/sitecore/system/Tasks/Commands/Schedule Publishing" />
                        <include name="ScheduledTask" database="master" path="/sitecore/templates/System/Tasks/Schedule" />
                    </predicate>
                </configuration>

                <configuration name="Foundation.Template.BranchTemplate" description="Foundation.Template.BranchTemplate" dependencies="Foundation.Serialization.*,Foundation.SitecoreExtensions.RedirectModule" patch:after="configuration[@name='Foundation.SitecoreExtensions.RedirectModule']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\SitecoreExtensions\serialization\BranchRedirectModule" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="BranchTemplate" database="master" path="/sitecore/templates/Branches/FWD/Foundation/Redirect" />
                    </predicate>
                </configuration>
                
                <configuration name="Foundation.Settings.RemoveXHTMLValidation" description="Foundation.Settings.RemoveXHTMLValidation" dependencies="Foundation.Serialization.*,Foundation.SitecoreExtensions.RedirectModule" patch:after="configuration[@name='Foundation.SitecoreExtensions.RedirectModule']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\foundation\SitecoreExtensions\serialization\RemoveXHTMLValidation" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="RichRextRule" database="master" path="/sitecore/system/Settings/Validation Rules/Field Types/Rich Text" />
                        <include name="GlobalRule" database="master" path="/sitecore/system/Settings/Validation Rules/Global Rules" />
                    </predicate>
                </configuration>

            </configurations>
        </unicorn>
    </sitecore>
</configuration>