<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- In Memory Settings-->
            <setting name="DefaultCacheExpirationTimeinMinutes" value="30"/>
        </settings>
        <events>
            <event name="publish:end">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <patch:delete />
                    </sites>
                    <sites hint="list">
                        <site id="1">fwd-th</site>
                        <site id="2">fwd-hk</site>
                        <site id="3">fwd-id</site>
                        <site id="4">fwd-jp</site>
                        <site id="5">fwd-go</site>
                        <site id="5">fwd-ph</site>
                        <site id="5">fwd-vn</site>
                        <site id="5">fwd-my</site>
                    </sites>
                </handler>
                <handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache" />
            </event>
            <event name="publish:end:remote">
                <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                    <sites hint="list">
                        <patch:delete />
                    </sites>
                    <sites hint="list">
                        <site id="1">fwd-th</site>
                        <site id="2">fwd-hk</site>
                        <site id="3">fwd-id</site>
                        <site id="4">fwd-jp</site>
                        <site id="5">fwd-go</site>
                        <site id="5">fwd-ph</site>
                        <site id="5">fwd-vn</site>
                        <site id="5">fwd-my</site>
                    </sites>
                </handler>
                <handler type="Sitecore.Publishing.RenderingParametersCacheClearer, Sitecore.Kernel" method="ClearCache" />
            </event>
        </events>
    </sitecore>
</configuration>
