<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:release="http://www.sitecore.net/xmlconfig/release/"
               xmlns:feature="http://www.sitecore.net/xmlconfig/feature/">
    <sitecore>

        <!--<layoutService>
          <configurations>
              -->
        <!-- Define your custom named config, using the `ref` attribute to "copy" the existing `jss` configuration -->
        <!--
              <config name="jss">
                  <rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
                      <renderingContentsResolver type="Sitecore.JavaScriptServices.GraphQL.LayoutService.GraphQLAwareRenderingContentsResolver, Sitecore.JavaScriptServices.GraphQL" resolve="true">
                          <IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
                      </renderingContentsResolver>
                  </rendering>
              </config>
          </configurations>
      </layoutService>-->

        <services>
            <register serviceType="FWD.Foundation.SitecoreExtensions.Services.IMultiListSerializer,FWD.Foundation.SitecoreExtensions" implementationType="FWD.Foundation.SitecoreExtensions.Pipelines.MultListItemSerializer,FWD.Foundation.SitecoreExtensions" lifetime="Singleton"/>
        </services>
        <controlSources>
            <source mode="on" namespace="FWD.Foundation.SitecoreExtensions.Pipelines" assembly="FWD.Foundation.SitecoreExtensions" prefix="content"></source>
            <source mode="on" namespace="FWD.Foundation.SitecoreExtensions.Extensions" assembly="FWD.Foundation.SitecoreExtensions" prefix="content"></source>
        </controlSources>

        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="FWD.Foundation.SitecoreExtensions.CustomLayoutService, FWD.Foundation.SitecoreExtensions" resolve="true">
                            <AllowedConfigurations hint="list">
                                <!-- Unless you change the Layout Service config used by your JSS app, this should always be present. -->
                                <jss>jss</jss>
                            </AllowedConfigurations>
                            <Applications hint="list">
                                <!-- Restrict the JSS apps for which this processor will execute. -->
                                <!-- <reactApp>FWD-TH</reactApp> -->
                            </Applications>
                            <!--<Routes hint="list">-->
                            <!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
                            <!-- <services>/sitecore/content/JssReactWeb/Home/Services*</services> -->
                            <!-- <portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio> -->
                            <!--</Routes>-->
                        </processor>
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.AvailableLanguagesContext, FWD.Foundation.SitecoreExtensions">
                        </processor>
                    </getLayoutServiceContext>

                    <renderJsonRendering>
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.CustomRenderingParametersResolver, FWD.Foundation.SitecoreExtensions"
                                   resolve="true"
                                   patch:after="processor[last()]" />
                    </renderJsonRendering>

                    <getFieldSerializer>
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.GetExtendedGeneralLinkFieldSerializer, FWD.Foundation.SitecoreExtensions"
                                   resolve="true"
                                   patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetGeneralLinkFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">generallink</fieldType>
                                <fieldType id="2">general link</fieldType>
                                <fieldType id="3">internal link</fieldType>
                            </FieldTypes>
                        </processor>

                        <processor type="FWD.Foundation.SitecoreExtensions.Serializer.GetCustomImageFieldSerializer, FWD.Foundation.SitecoreExtensions"
                                  resolve="true"
                                  patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetImageFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">image</fieldType>
                            </FieldTypes>
                        </processor>

                        <processor type="FWD.Foundation.SitecoreExtensions.Serializer.GetCustomFileFieldSerializer, FWD.Foundation.SitecoreExtensions"
                                  resolve="true"
                                  patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetFileFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">file</fieldType>
                            </FieldTypes>
                        </processor>
                        
                        
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.GetAdvanceImageFieldSerializer, FWD.Foundation.SitecoreExtensions"
                                   resolve="true"
                                   patch:after="*[@type='FWD.Foundation.SitecoreExtensions.Serializer.GetCustomFileFieldSerializer, FWD.Foundation.SitecoreExtensions']">
                            <FieldTypes hint="list">
                                <fieldType id="1">advance image</fieldType>
                                <fieldType id="2">customimagefield</fieldType>
                            </FieldTypes>
                        </processor>

                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.GetNameLookupFieldSerializer, FWD.Foundation.SitecoreExtensions"
                                   resolve="true"
                                   patch:after="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetCheckboxFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">namelookupvaluelistex</fieldType>
                            </FieldTypes>
                        </processor>
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.GetNameValueListSerializer, FWD.Foundation.SitecoreExtensions"
                                   resolve="true"
                                   patch:after="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetCheckboxFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">name value list</fieldType>
                            </FieldTypes>
                        </processor>
                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.GetMultilistFieldSerializer, FWD.Foundation.SitecoreExtensions"
                                   resolve="true"
                                   patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetMultilistFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">checklist</fieldType>
                                <fieldType id="2">multilist</fieldType>
                                <fieldType id="3">multilist with search</fieldType>
                                <fieldType id="4">treelist</fieldType>
                                <fieldType id="5">treelist with search</fieldType>
                                <fieldType id="6">treelistex</fieldType>
                                <fieldType id="7">queryabletreelistex</fieldType>
                            </FieldTypes>
                        </processor>

                        <processor type="FWD.Foundation.SitecoreExtensions.Pipelines.GetInternalLinkFieldSerializer, FWD.Foundation.SitecoreExtensions"
                               resolve="true"
                               patch:instead="*[@type='Sitecore.LayoutService.Serialization.Pipelines.GetFieldSerializer.GetInternalLinkFieldSerializer, Sitecore.LayoutService']">
                            <FieldTypes hint="list">
                                <fieldType id="1">droplink</fieldType>
                                <fieldType id="2">droptree</fieldType>
                                <fieldType id="3">grouped droplink</fieldType>
                                <fieldType id="4">customdroplink</fieldType>
                                <fieldType id="5">customgroupeddroplink2</fieldType>
                            </FieldTypes>
                        </processor>

                    </getFieldSerializer>
                </pipelines>
            </group>
        </pipelines>       
    </sitecore>
</configuration>