<!-- Add this to App_Config/Include to enable branch presets -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <getContentEditorWarnings>
                <processor type="Sitecore.JavaScriptServices.AppServices.Pipelines.GetContentEditorWarnings.ShowJssNotifications, Sitecore.JavaScriptServices.AppServices" resolve="true">
                    <patch:delete />
                </processor>
            </getContentEditorWarnings>
            <group name="ExperienceEditor" groupName="ExperienceEditor">
                <pipelines>
                    <getPageEditorNotifications>
                        <processor type="Sitecore.JavaScriptServices.AppServices.Pipelines.GetPageEditorNotifications.ShowJssNotifications, Sitecore.JavaScriptServices.AppServices" resolve="true">
                            <patch:delete />
                        </processor>
                    </getPageEditorNotifications>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>