<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="AllowInvalidClientCertificates" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="SearchServiceName" value="fwd-local-as" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="SearchServiceAdminApiKey" value="90C9684254216775924A6BFF85BACA9B" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="SearchServiceQueryApiKey" value="90C9684254216775924A6BFF85BACA9B" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="SearchIndexName" value="sitecore-master-index-secondary" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="ApplicationInsightsWebTracking" xdt:Transform="Insert" />
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" xdt:Transform="Insert"  />
        </modules>
        <rewrite xdt:Transform="Insert" >
            <rules>
                <rule name="Root Hit Force HTTPS Redirection" enabled="true" stopProcessing="true">
                    <match url="^$" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_METHOD}" pattern="GET" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/" redirectType="Permanent" />
                </rule>
                <rule name="Sitecore Login or Admin Force HTTPS Redirection" enabled="true" stopProcessing="true">
                    <match url="^(sitecore/(login|admin))$" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_METHOD}" pattern="GET" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>
                <rule name="Forbidden" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_METHOD}" pattern="GET" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" subStatusCode="0" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <httpModules xdt:Transform="Insert">
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
        </httpModules>

        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly xdt:Transform="Insert">
                <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
            </dependentAssembly>
            <dependentAssembly xdt:Transform="Insert">
                <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.diagnostics xdt:Transform="Insert">
        <trace autoflush="true" indentsize="0">
            <listeners>
                <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>