<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:release="http://www.sitecore.net/xmlconfig/release/"
               xmlns:feature="http://www.sitecore.net/xmlconfig/feature/" xmlns:unicornsync="http://www.sitecore.net/xmlconfig/unicornsync/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Global.Configurations" dependencies="Foundation.Serialization.*,Foundation.Multisite" description="Global Templates, Rendering, Placeholder Settings"  patch:after="configuration[@name='Foundation.Sitemap']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\project\Global\serialization\Configurations" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Feature Templates" database="master" path="/sitecore/templates/FWD/Feature/Global">
                        </include>
                        <include name="Project Templates" database="master" path="/sitecore/templates/FWD/Project/Global" >

                        </include>
                        <include name="Branch Templates" database="master" path="/sitecore/templates/Branches/FWD/Project/Global" />
                        <include name="Renderings" database="master" path="/sitecore/layout/Renderings/FWD/Feature/Global" />
                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/FWD/Project/Global" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/FWD/Project/Global" />
                    </predicate>
                </configuration>
                <configuration name="Project.Global.PublishingTarget" unicornsync:require="Content" dependencies="Project.Global.Configurations"  description="Group Publishing Target" patch:after="configuration[@name='Project.Global.Configurations']">
                    <targetDataStore physicalRootPath="$(sourceFolder)\project\Global\serialization\PublishTarget" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Group" database="master" path="/sitecore/system/Publishing targets/Group" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>