<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement or ContentDelivery">        
        <settings>
            <setting name="ItemNotFoundUrl">
                <patch:attribute name="value">/404</patch:attribute>
            </setting>
            <setting name="LinkItemNotFoundUrl">
                <patch:attribute name="value">/404</patch:attribute>
            </setting>
            <setting name="LayoutNotFoundUrl">
                <patch:attribute name="value">/404</patch:attribute>
            </setting>
            <setting name="ErrorPage">
                <patch:attribute name="value">/500.html</patch:attribute>
            </setting>
        </settings>
        <scheduling>
            <agent type="Sitecore.Tasks.CleanupAgent" method="Run" interval="06:00:00">
                <files hint="raw:AddCommand">
                    <remove folder="$(dataFolder)/logs" pattern="*log.*.txt*" maxAge="08.00:00:00" recursive="true"/>
                    <remove folder="$(dataFolder)/DeviceDetection" pattern="DeviceDetectionDB-*.db" maxAge="08.00:00:00" recursive="false" />
                </files>
            </agent>
        </scheduling>
    </sitecore>
</configuration>