<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement ">
        <commands>
            <command name="media:cdnpurge" type="FWD.Foundation.CDNPurgeUtility.Commands.PurgeUtility,FWD.Foundation.CDNPurgeUtility"/>
        </commands>
        <ui>
            <usings>
                <using id="CDNDictionary">FWD.Foundation.CDNPurgeUtility.Dictionary</using>
            </usings>
            <references>
                <reference id="CDNReference">/bin/FWD.Foundation.CDNPurgeUtility.dll</reference>
            </references>
        </ui>
        <settings>
            <setting name="CdnPurgeJob.PollingInterval" value="500"/>
        </settings>
    </sitecore>
</configuration>