<configuration>
<sitecore>
    <settings>
        <!-- MEDIA RESPONSE - VARY HEADER Specifies the value for the Vary HTTP header to use in media response headers. Set it to "" to omit this header. Default value: "" -->
        <setting name="MediaResponse.VaryHeader" value="User-Agent"/>
    </settings>
</sitecore>
</configuration>