<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <commands>
            <command name="sitemap:generate" type="FWD.Foundation.Sitemap.Commands.GenerateSitemap, FWD.Foundation.Sitemap"/>
        </commands>
        <ui>
            <usings>
                <using id="Sitemap">FWD.Foundation.Sitemap</using>
                <using id="SitemapDictionary">FWD.Foundation.Sitemap.Dictionary</using>
            </usings>
            <references>
                <reference id="Sitemap">/bin/FWD.Foundation.Sitemap.dll</reference>
            </references>
        </ui>
        <controlSources>
            <source mode="on" namespace="FWD.Foundation.Sitemap.WebControl" assembly="FWD.Foundation.Sitemap" prefix="content"></source>
        </controlSources>
        <settings>
            <setting name="GenerateSitemap.PollingInterval" value="500"/>
        </settings>
    </sitecore>
</configuration>
    