<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <getRenderingDatasource>
                <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel">
                    <patch:delete />
                </processor>
                <processor type="Sitecore.Pipelines.GetRenderingDatasource.SetFallbackDatasourceLocations, Sitecore.Kernel">
                    <patch:delete />
                </processor>
                <processor type="FWD.Foundation.Multisite.Infrastructure.Pipelines.CustomCheckDialogState, FWD.Foundation.Multisite"
                          patch:instead="*[@type='Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel']">
                </processor>
                <processor type="FWD.Foundation.Multisite.Infrastructure.Pipelines.GetCustomRenderingDialogUrl, FWD.Foundation.Multisite"
                           patch:instead="*[@type='Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel']">
                </processor>
            </getRenderingDatasource>
            <getRenderingDatasourceRoots>
                <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel"/>
                <processor type="FWD.Foundation.Multisite.Infrastructure.Pipelines.GetDatasourceLocationAndTemplateFromSite, FWD.Foundation.Multisite"/>
                <processor type="FWD.Foundation.Multisite.Infrastructure.Pipelines.GetLocalDatasourceLocation, FWD.Foundation.Multisite"/>
                <processor type="Sitecore.Pipelines.GetRenderingDatasource.SetFallbackDatasourceLocations, Sitecore.Kernel"/>
            </getRenderingDatasourceRoots>
        </pipelines>
    </sitecore>
</configuration>